<ion-content color="dark">
  <h1>PEPPA PIG <span>(2004)</span></h1>
  <img src="https://tse4.mm.bing.net/th?id=OIP.qgM7NVW90Jzzd3IF3iDL4gHaHa&pid=Api&P=0&w=300&h=300">

  <ion-item color="dark">
    <div>
      <span class="tipo">TV-G</span> <span class="duracao">5m</span>
       <p>Animation & Kids</p>
    </div>

    <div slot="end" class="c100 p62 small orange">
      <span>62%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>

  </ion-item>

  <icon-item color="medium">
  <div>
    <h2>Sinopse</h2>
    <p>Peppa Pig é um porquinho enérgico que vive com mamãe, papai e irmão mais novo George.
       Ela adora pular em poças de lama e fazer barulhos altos.</p>
  </div>
</icon-item>

</ion-content>
