<ion-content color="dark">
  <h1>SCOOB <span>(2020)</span></h1>
  <img src="https://tse2.mm.bing.net/th?id=OIP.3UR_xf2NnKy686XpF-5VBQHaK-&pid=Api&P=0&w=300&h=300">

  <ion-item color="dark">
    <div>
      <span class="tipo">PG</span> <span class="duracao">1h 34m</span>
       <p>Family, Animation, Comedy, Mystery & Adventure</p>
    </div>

    <div slot="end" class="c100 p80 small green">
      <span>80%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>

  </ion-item>

  <icon-item color="medium">
  <div>
    <h2>Sinopse</h2>
    <p>Na maior aventura de Scooby-Doo até agora, veja a história nunca contada de como os amigos 
      de longa data Scooby e Shaggy se conheceram e como eles se uniram aos jovens detetives Fred, 
      Velma e Daphne para formar o famoso Mystery Inc. Now, com centenas de casos resolvidos, Scooby 
      e a gangue enfrentam o maior e mais difícil mistério de todos os tempos: um plano maligno para
      libertar o cão fantasma Cerberus no mundo. Enquanto eles correm para parar esse "dogpocalypse"
      global, a gangue descobre que Scooby tem um legado secreto e um destino épico maior do que se
      imaginava.</p>
  </div>
</icon-item>

</ion-content>
