<ion-content color="dark">
  <h1>URSINHOS CARINHOSOS<span>(1986)</span></h1>
  <img src="https://tse1.mm.bing.net/th?id=OIP.4L5FjqnB3Jf22A7mHmTAQAHaHa&pid=Api&P=0&w=300&h=300">

  <ion-item color="dark">
    <div>
      <span class="tipo"></span> <span class="duracao">30m</span>
       <p>Fantasy, Sci-Fi & Animation</p>
    </div>

    <div slot="end" class="c100 p62 small orange">
      <span>62%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>

  </ion-item>

  <icon-item color="medium">
  <div>
    <h2>Sinopse</h2>
    <p>Os Ursinhos Carinhosos vivem em um lugar distante nas nuvens chamado Care-a-Lot. Eles 
      viajam ao redor do mundo em Missões no Cuidado, enquanto vilões do mal, como o Professor 
      Coldheart e Lord No Heart, tentam frustrar seus planos.</p>
  </div>
</icon-item>

</ion-content>
