<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
      <ion-card-header>
       <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">
      </ion-card-header>    

      <ion-item color="dark">
      <h1>Flash <span>(2014)</span></h1>
      </ion-item>

      <ion-item color="medium">
        <div class="info ion-text-center">
          <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
           <p>Drams, Sci-Fi & Fantasy</p>
        </div>
      </ion-item>

      <ion-item color="dark">
       <div>
         <h2>Sinopse</h2>
         <p>Depois que um acelerador de partículas causa uma tempestade, o investigador do CSI, Barry Allen,
           é atingido por um raio e entra em coma. Meses depois, ele acorda com o poder da super velocidade, 
           concedendo a ele a capacidade de se mover pela Cidade Central como um anjo da guarda invisível. 
           Embora inicialmente empolgado com seus novos poderes, Barry fica chocado ao descobrir que ele não
           é o único "meta-humano" que foi criado após a explosão do acelerador - e nem todos estão usando 
           seus novos poderes para o bem. Barry faz parceria com a STAR Labs e dedica sua vida a proteger 
           os inocentes. Por enquanto, apenas alguns amigos íntimos e associados sabem que Barry é literalmente 
           o homem mais rápido do mundo, mas não demorará muito para que o mundo aprenda o que Barry Allen 
           se tornou ... O Flash.</p>
       </div>
      </ion-item>

        </ion-card>

</ion-content>
