<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark" routerLink="/flash">
      <ion-card-header>
       <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">
      </ion-card-header>    

      <ion-item color="dark">
      <h1>Flash <span>(2014)</span></h1>
      </ion-item>

      <ion-item color="medium">
        <div class="info ion-text-center">
          <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
           <p>Drams, Sci-Fi & Fantasy</p>
        </div>
      </ion-item>

      <ion-item color="dark">
       <div>
         <h2>Sinopse</h2>
         <p>Depois que um acelerador de partículas causa uma tempestade, o investigador do CSI, Barry Allen,
           é atingido por um raio e entra em coma. Meses depois, ele acorda com o poder da super velocidade, 
           concedendo a ele a capacidade de se mover pela Cidade Central como um anjo da guarda invisível. 
           Embora inicialmente empolgado com seus novos poderes, Barry fica chocado ao descobrir que ele não
           é o único "meta-humano" que foi criado após a explosão do acelerador - e nem todos estão usando 
           seus novos poderes para o bem. Barry faz parceria com a STAR Labs e dedica sua vida a proteger 
           os inocentes. Por enquanto, apenas alguns amigos íntimos e associados sabem que Barry é literalmente 
           o homem mais rápido do mundo, mas não demorará muito para que o mundo aprenda o que Barry Allen 
           se tornou ... O Flash.</p>
       </div>
      </ion-item>

        </ion-card>

        <ion-card color="dark" routerLink="/era-uma-vez">
          <ion-card-header>
           <img src="https://cdn1.edgedatg.com/aws/v2/abc/OnceUponaTime/showimages/9800ef2a78ad075a4a6e998c1d700cbc/1200x627-Q80_9800ef2a78ad075a4a6e998c1d700cbc.jpg">
          </ion-card-header>    
    
          <ion-item color="dark">
          <h1>Era Uma Vez<span>(2011)</span></h1>
          
          </ion-item>
    
          <ion-item color="medium">
            <div class="info ion-text-center">
              <span class="tipo">TV-PG</span> <span class="duracao">43m</span>
               <p>Drams, Sci-Fi & Fantasy</p>
            </div>
          </ion-item>
    
          <ion-item color="dark">
           <div>
             <h2>Sinopse</h2>
             <p>Há uma cidade no Maine onde todos os personagens de livros de história que você 
               já conheceu estão presos entre dois mundos, vítimas de uma poderosa maldição. Apenas 
               um sabe a verdade e apenas um pode quebrar o feitiço.
               Emma Swan é uma colecionadora de títulos de fiança de 28 anos que se sustenta desde 
               que foi abandonada quando bebê. As coisas mudam para ela quando seu filho Henry, a 
               quem ela abandonou anos atrás, a encontra e pede ajuda para explicar que ela é de um 
               mundo diferente, onde é a filha desaparecida de Branca de Neve.</p>
           </div>
          </ion-item>
    
            </ion-card>

</ion-content>
