<ion-content color="dark">
  <h1>AD ASTRA <span>(2019)</span></h1>
  <img src="https://image.tmdb.org/t/p/w220_and_h330_face/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg">

  <ion-item color="dark">
    <div>
      <span class="tipo">PG-13</span> <span class="duracao">2h 3m</span>
       <p>Drama, Sci-Fi</p>
    </div>

    <div slot="end" class="c100 p60 small orange">
      <span>60%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>

  </ion-item>

  <icon-item color="medium">
  <div>
    <h2>Sinopse</h2>
    <p>O futuro próximo, um momento em que a esperança e as dificuldades levam a humanidade a 
      olhar para as estrelas e além. Enquanto um fenômeno misterioso ameaça destruir a vida no 
      planeta Terra, o astronauta Roy McBride empreende uma missão através da imensidão do espaço 
      e seus muitos perigos para descobrir a verdade sobre uma expedição perdida que décadas antes
       enfrentava ousadamente o vazio e o silêncio em busca do desconhecido.</p>
  </div>
</icon-item>

</ion-content>
